#loginForm {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 12px;
    width: 25%;
    margin: 0 auto;
    /* margin-top:10%; */
    padding-top: 2%;
    padding-bottom: 2%;
}

#loginInput, textarea {
    border: none;
    width: 78%;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    background-color: rgb(0, 0, 0, 0);
}